# Notebooks
*.ipynb_checkpoints/
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Reporte LaTeX
report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz

# Modelos / resultados pesados
models/
outputs/
figures/

# Poetry
.poetry/
